<footer id="footer-full">

    <div id="footer-main" class="primary-bg">
        <div id="inner-footer-main" class="lt-margin-content rt-margin-content">
           
            <section id="section-1" class="footer-section">

<div class="footer-section-head">
    <img src="img/logo_without_bg.png" alt="Unavailable" class="med-logo-img">            </div>      
                 
                <p class="footer-text white-text sm-font">&quot;We appreciate and welcome all the help and support for enhancing this noble cause&quot;</p>
            </section>

            <section id="section-2" class="footer-section">
        
                <div class="footer-section-head">

                <h2 class="white-text">Useful Links</h2>
            </div>
            <ul class="footer-text">
                    <li class="white-text sm-font">About Us</li>
                    <li class="white-text sm-font">Services</li>
                    <li class="white-text sm-font">Project</li>
                    <li class="white-text sm-font">Blog</li>
                    <li class="white-text sm-font">Contact</li>
                    <li class="white-text sm-font">Gallary</li>
              </ul>

            </section>
            <section id="section-3" class="footer-section">
                <div class="footer-section-head">

                    <h2 class="white-text">Contact Info</h2>
                    </div>

                    <ul class="links-lt footer-text">
                        <li class="sm-font"><img src="img/mail.png" alt="Unavailable" class="sm-logo-img" style="filter: invert(100%);"><a href="mailto:treeloverssfoundation@gmail.com">treeloverssfoundation@gmail.com</a></li>
                        <li class="sm-font"><img src="img/phone.png" alt="Unavailable" class="sm-logo-img" style="filter: invert(100%);">9909502393</li>
                        <li class="sm-font"><img src="img/location.png" alt="Unavailable" class="sm-logo-img" style="filter: invert(100%);">
                            Vadodara, Gujarat</li>
                    </ul>
            </section>


            <section id="section-4" class="footer-section">
<div class="footer-section-head">
                <h2 class="white-text">Newsletter</h2>
            </div>
            <p class="footer-text white-text sm-font">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium
            </p>
            </section>
      </div>
    </div>

<!-- CREDITS START HERE -->
<!-- CREDITS START HERE -->

    <div id="credits">
        <ul class="sm-font lt-margin-content rt-margin-content" id="inner-credits">
            <li><img src="img/copyright.png" alt="Unavailable" class="sm-logo-img"> Copyright Tree Lovers
                Foundation 2023. All Rights Reserved.</li>
            <li>
                <ul class="links-rt" id="social-credits">
                    <li><a href="https://www.instagram.com/treeloversfoundation/" target="_blank"><img src="img/instagram.png" alt="Unavailable" border="0" class="sm-logo-img"></a></li>
                    <li><a href="https://www.facebook.com/treeloverssfoundation/" target="_blank"><img src="img/facebook.png" alt="Unavailable" border="0" class="sm-logo-img"></a></li>
                    <li><img src="img/twitter.png" alt="Unavailable" class="sm-logo-img">
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</footer>