<div id="top-box" class="primary-bg flex">
    <ul class="links-lt lt-margin" style="margin-top: 10px;">
        <li class="sm-font" id="top-email"><img src="img/mail.png" alt="Unavailable" class="sm-logo-img" style="filter: invert(100%);">
         <a href=   "mailto:treeloverssfoundation@gmail.com">treeloverssfoundation@gmail.com</a></li>
        <li class="sm-font" id="top-phone"><img src="img/phone.png" alt="Unavailable" class="sm-logo-img" style="filter: invert(100%);">
            9909502393</li>
        <li class="sm-font" id="top-location"><img src="img/location.png" alt="Unavailable" class="sm-logo-img" style="filter: invert(100%);">
            Vadodara, Gujarat</li>
    </ul>
    <ul class="links-rt rt-margin" style="margin-top: 10px;">
        <li>|</li>
        <li><a href="https://www.instagram.com/treeloversfoundation/" target="_blank"><img src="img/instagram.png" alt="Unavailable" border="0" class="sm-logo-img"></a></li>
        <li><a href="https://www.facebook.com/treeloverssfoundation/" target="_blank"><img src="img/facebook.png" alt="Unavailable" border="0" class="sm-logo-img"></a></li>
        <li><img src="img/twitter.png" alt="Unavailable" class="sm-logo-img">
        </li>
    </ul>
</div>


<nav id="nav-main" class="lt-margin rt-margin">
        <img src="img/logo_without_bg.png" alt="Unavailable" id="nav-logo">

<ul id="nav-items">
<li class="nav-link"><a href="/" class="primary-font"> Home</a></li>
<li class="nav-link"><a href="/about-us" class="primary-font"> About Us</a></li>
<li class="nav-link"><a href="#" class="primary-font"> Our Initiatives</a></li>
<li class="nav-link"><a href="#" class="primary-font"> Media Coverage</a></li>
<li class="nav-link"><a href="#" class="primary-font"> Gallery</a></li>
<li class="nav-link"><a href="#" class="primary-font"> Contact Us</a></li>
</ul>

        <!-- <img src="img/hamburger.png" alt="Unavailable"  id="hamburger" onclick="toggleNav()"> -->

        <div id="hamburger" onclick="toggleNav()">
            <span class="line primary-bg"></span>
            <span class="line primary-bg"></span>
            <span class="line primary-bg"></span>
  </div>

</nav>

<nav id="nav-mobile">
    <ul id="nav-items-m">

        <li class="nav-link"><a href="#" class="primary-font"> Home</a></li>
        <li class="nav-link"><a href="#" class="primary-font"> About Us</a></li>
        <li class="nav-link"><a href="#" class="primary-font"> Our Initiatives</a></li>
        <li class="nav-link"><a href="#" class="primary-font"> Media Coverage</a></li>
        <li class="nav-link"><a href="#" class="primary-font"> Gallery</a></li>
        <li class="nav-link"><a href="#" class="primary-font"> Contact Us</a></li>
    
    </ul>


</nav>

<script>
    // var hamburgerBtn = document.getElementById('hamburger-btn');
    // var navMobile = document.getElementById('nav-mobile');
    
    // function toggleNav()
    //  {    
    //     if(navMobile.style.height != "260px"){
    //         navMobile.style.height = "260px";
    //         console.log("Height is now Max Content");
    //     }
    //     else{
    //         navMobile.style.height = "0px";
    //         console.log("Height is now 0px");
    // }
    // }
    
    // $(document).ready(function(){
    //     $("#hamburger").click(function(){
    //       $(this).toggleClass("is-active");
    //     });
    //   });
    
    </script>

